services:
  yuri_webhook:
    image: 'tsinglinrain/yuriaudio2notion:latest'
    container_name: fanjiao
    ports:
      - "5050:5050"
    environment:
      - ENV=production
      - NOTION_DATA_SOURCE_ID=133**************
      - NOTION_TOKEN=ntn_*********
      - FANJIAO_SALT=
      - FANJIAO_BASE_URL=
      - FANJIAO_CV_BASE_URL=
      - API_KEY=****************
    volumes:
      - ./data:/app/data
    restart: unless-stopped
    command: uvicorn app.main:app --host 0.0.0.0 --port 5050 --workers 3 --timeout-keep-alive 120
