services:
  yuri_webhook:
    image: 'tsinglinrain/yuriaudio2notion:latest'
    container_name: fanjiao
    ports:
      - "5050:5050"
    environment:
      - ENV=production
      - FLASK_ENV=production
      - PYTHONPATH=/app
      - NOTION_DATA_SOURCE_ID=133**************
      - NOTION_TOKEN=ntn_*********
      - FANJIAO_SALT=
      - FANJIAO_BASE_URL=
      - FANJIAO_CV_BASE_URL=
      - API_KEY=****************
    volumes:
      - ./data:/app/data
    restart: unless-stopped
    command: gunicorn --bind 0.0.0.0:5050 --workers 3 --threads 2 --timeout 120 --access-logfile - src.server.webhook_server:app