services:
  yuri_webhook:
    image: 'tsinglinrain/yuriaudio2notion:latest'
    container_name: fanjiao
    ports:
      - "5050:5050"
    environment:
      - ENV=production
      - FLASK_ENV=production
      - NOTION_DATA_SOURCE_ID=133**************
      - NOTION_TOKEN=ntn_*********
      - FANJIAO_SALT=
      - FANJIAO_BASE_URL=
      - FANJIAO_CV_BASE_URL=
      - API_KEY=****************
    volumes:
      - ./data:/app/data
    restart: unless-stopped
    command: python src/server/webhook_server.py
